.nav-container {
    display: flex;
    width: 100%;
    background-color: #f1f1f1;
    justify-content: space-between;

    box-shadow: 1px 10px 20px rgba(0,0,0,0.1);

    position: sticky;
    top: 0;
}
.title-btn{
    align-self : center;
}

.list-container{
    display: flex;
    align-content: center;
    text-align: center;
}
.search-container
{
    display: flex;
    flex-direction: row;

}
.search-input{
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.125rem;
}
.search-input:focus{
}

.search-icon{
    margin-left: 0.25rem;
}